        body {
            -webkit-font-smoothing: antialiased;
            color: #444;
            background-image: url(https://popmenucloud.com/cdn-cgi/image/width=1920,height=1920,format=auto,fit=scale-down/fhmyneid/880cf4d6-2871-405c-9083-8295ed562673.jpg);
            background-position: right center, left top;
            background-color: #eeeeee;
            background-repeat: no-repeat, repeat;
            background-attachment: fixed;
            background-size: 100%;
        }
        
        h1 {
            font-weight: normal;
            color: #f1f4f7;
        }
        
        .rwd-table {
            background: #5d4424;
            color: #fff;
            border-radius: .4em;
        }
        
        .rwd-table tr {
            border-color: #46637f;
        }
        
        .rwd-table th,
        .rwd-table td {
            padding: 0.78em;
        }
        
        .rwd-table th,
        .rwd-table td:before {
            color: #fff;
        }
        
        .button {
            background-color: #b49074;
            border: none;
            color: white;
            padding: 15px 39px;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 180px;
            height: 50px;
        }
        
        .result {
            background-color: #5d4424;
            color: #fff;
            padding: 15px 32px;
            text-align: center;
            font-size: 40px;
            margin: 4px 2px;
            width: 304px;
            height: 50px;
        }
        
        .result1 {
            background-color: #5d4424;
            color: #fff;
            padding: 15px 32px;
            text-align: center;
            font-size: 40px;
            margin: 4px 2px;
            width: 304px;
            height: 50px;
            cursor: pointer;
            border: none;
        }
        
        p {
            color: #fff;
        }
        
        .container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;
            max-width: 100%;
        }
        
        .order-details {
            box-sizing: border-box;
            max-width: 50%;
        }
        
        .checkout-order {
            box-sizing: border-box;
            max-width: 50%;
        }
        
        .checkout-link {
            text-decoration: none;
            background-color: #5d4424;
            color: white;
            border: none;
            font-size: 40px;
        }